replicaCount: 2
image:
  repository: 718307299298.dkr.ecr.ap-south-1.amazonaws.com/expense-backend      # Replace with ECR URL
  tag: "v2"
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"
config:
  DB_HOST: "mysql-service"
  DB_PORT: "3306"
  DB_NAME: "transactions"
  NODE_ENV: "development"
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilization: 70

serviceAccount:
  create: false
  name: ""

livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
